out/**
05-hashtabell/navn
*.iml
.idea/**

# way too big graph of Scandinavia
07-uvektet_graf/L7Sk*

# compressed filelings
**.huff*
12-kompresjon/diverse*
12-kompresjon/opg12*
12-kompresjon/urandom

13-kartsok/data
